In [1]:
import pandas as pd
import matplotlib
import numpy as np

In [2]:
plan_sys = pd.read_csv('nasa_data/PS_2025.08.21_10.24.02.csv', sep=',', low_memory=False)
plan_sys

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,2023-09-19,2023-08,2023-09-19,2,1,2,0,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,2014-07-23,2011-08,2014-07-23,2,1,2,0,0,0,0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,2014-05-14,2008-01,2014-05-14,2,1,2,0,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,2018-04-25,2011-08,2014-07-23,0,1,1,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,2018-04-25,2009-10,2014-05-14,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38744,38745,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,2014-09-18,2007-01,2014-09-18,5,1,10,1,0,0,0
38745,38746,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,2022-01-10,2021-12,2022-01-10,0,0,0,0,0,0,0
38746,38747,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,...,2014-07-23,2011-08,2014-07-23,1,1,1,0,0,0,0
38747,38748,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,...,2014-05-14,2008-06,2014-05-14,1,1,1,0,0,0,0
38748,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,2023-09-19,2023-08,2023-09-19,1,1,1,0,0,0,0

In [3]:
stellar_hosts = pd.read_csv('nasa_data/STELLARHOSTS_2025.08.21_10.34.11.csv', sep=',', low_memory=False)
stellar_hosts

,rowid,sy_name,hostname,hd_name,hip_name,tic_id,gaia_id,sy_snum,sy_pnum,sy_mnum,...,sy_gaiamagerr2,sy_icmag,sy_icmagerr1,sy_icmagerr2,sy_tmag,sy_tmagerr1,sy_tmagerr2,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2
0,1,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
1,2,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
2,3,11 Com,11 Com B,NaN,NaN,TIC 954047662,Gaia DR2 3946945413105333632,2,1,0,...,-0.000719,NaN,NaN,NaN,11.4996,0.0064,-0.0064,NaN,NaN,NaN
3,4,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
4,5,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46578,46579,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46579,46580,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46580,46581,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46581,46582,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46582,46583,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN

In [4]:
columns_needed = ['hostname', 'st_teff', 'st_rad']
planets_merged = plan_sys.merge(stellar_hosts[columns_needed], on='hostname', how='left')

planets_merged

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec,st_teff_y,st_rad_y
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,2023-09-19,2,1,2,0,0,0,0,4755.00,17.181000
1,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,2023-09-19,2,1,2,0,0,0,0,NaN,NaN
2,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,2023-09-19,2,1,2,0,0,0,0,4705.00,15.781000
3,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,2023-09-19,2,1,2,0,0,0,0,4830.00,NaN
4,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,2023-09-19,2,1,2,0,0,0,0,4675.18,17.407000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682520,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,2023-09-19,1,1,1,0,0,0,0,NaN,NaN
682521,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,2023-09-19,1,1,1,0,0,0,0,4707.00,10.723029
682522,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,2023-09-19,1,1,1,0,0,0,0,NaN,NaN
682523,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,2023-09-19,1,1,1,0,0,0,0,4841.00,10.860000
682524,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,2023-09-19,1,1,1,0,0,0,0,4714.00,NaN

# Coordinates

## Calculate Cartesian coordinates of host system
### How do spherical coordinates work?
![alt text](images/spherical_coords.png "Spherical Coordinates")

Spherical coordinates are made up of:
1. the radial distance `r` along the line connecting the point to a fixed point called the origin (`sy_dist`) <br>
the Euclidean distance from the origin O to P.

2. the polar angle `θ` between this radial line and a given polar axis (`ra`) <br>
angle between 'z-axis' and `r`.

3. the azimuthal angle `φ`, which is the angle of rotation of the radial line around the polar axis (`dec`) <br>
angle between 'x-axis' and `r`. Measured counterclockwise from X to Y.


### Equation for converting to Cartesian coordinate system
*Source: [Putting Your Stars in Their Places](https://fmwriters.com/Visionback/Issue14/wbputtingstars.htm)*  

$$x = distance \cdot \cos(dec) \cdot \cos(ra)$$
$$y = distance \cdot \cos(dec) \cdot \sin(ra)$$
$$z = distance \cdot \sin(dec)$$

We must convert degrees to radians in order to calculate Cartesian coords.

In [5]:
planets_merged['dec_rad'] = np.radians(planets_merged['dec'])
planets_merged['ra_rad'] = np.radians(planets_merged['ra'])


planets_merged['st_x'] = planets_merged['sy_dist'] * np.cos(planets_merged['dec_rad']) * np.cos(planets_merged['ra_rad'])
planets_merged['st_y'] = planets_merged['sy_dist'] * np.cos(planets_merged['dec_rad']) * np.sin(planets_merged['ra_rad'])
planets_merged['st_z'] = planets_merged['sy_dist'] * np.sin(planets_merged['dec_rad'])

In [6]:
planets_merged

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,pl_nespec,pl_ntranspec,pl_ndispec,st_teff_y,st_rad_y,dec_rad,ra_rad,st_x,st_y,st_z
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,0,0,0,4755.00,17.181000,0.310551,3.231979,-88.364958,-8.008843,28.475644
1,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,0,0,0,NaN,NaN,0.310551,3.231979,-88.364958,-8.008843,28.475644
2,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,0,0,0,4705.00,15.781000,0.310551,3.231979,-88.364958,-8.008843,28.475644
3,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,0,0,0,4830.00,NaN,0.310551,3.231979,-88.364958,-8.008843,28.475644
4,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,0,0,0,4675.18,17.407000,0.310551,3.231979,-88.364958,-8.008843,28.475644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682520,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,0,0,0,NaN,NaN,0.147674,5.210898,26.570968,-48.810690,8.267066
682521,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,0,0,0,4707.00,10.723029,0.147674,5.210898,26.570968,-48.810690,8.267066
682522,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,0,0,0,NaN,NaN,0.147674,5.210898,26.570968,-48.810690,8.267066
682523,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,0,0,0,4841.00,10.860000,0.147674,5.210898,26.570968,-48.810690,8.267066
682524,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,0,0,0,4714.00,NaN,0.147674,5.210898,26.570968,-48.810690,8.267066

## Calculate Cartesian coordinates of planets
Each planet is positioned relative to its host star in 3D space. We use the same RA/Dec → Cartesian conversion logic as we did for the host, but instead of placing the planet exactly at the star’s coordinates, we offset it by its orbital distance to simulate a circular orbit around the star.

Steps Explained
1. Orbital Radius (pl_orbsmax)
This column gives the planet’s semi-major axis in AU (distance from the star).
It determines how far the planet is from its host.

2. Random Orbital Angle (theta)
We generate a random angle to place the planet somewhere along its orbital circle in the XY-plane.
This spreads planets around the star instead of stacking them on a single line.

3. Orbital Tilt (phi)
To simulate real orbital inclinations, we add a small tilt in the Z-axis.
This makes the orbits slightly 3D instead of perfectly flat.

To calculate the planetary offsets (relative to host), we perform the following (`r` equates to `orbital_radius`):
$$x_{\text{offset}} = r \cdot \cos(\theta) \cdot \cos(\phi)$$
$$y_{\text{offset}} = r \cdot \sin(\theta) \cdot \cos(\phi)$$
$$z_{\text{offset}} = r \cdot \sin(\phi)$$

Then we add the aforementioned offset to the host coords:
$$x_{\text{planet}} = x_{\text{host}} + x_{\text{offset}}$$
$$y_{\text{planet}} = y_{\text{host}} + y_{\text{offset}}$$
$$z_{\text{planet}} = z_{\text{host}} + z_{\text{offset}}$$

In [7]:
# Random angle around star
theta = np.random.uniform(0, 2*np.pi, size=len(planets_merged))
phi = np.random.uniform(-0.1, 0.1, size=len(planets_merged))  # small tilt for variation

# Planet semi-major axes (AU) → scale for visualization
au_to_pc = 4.848e-6  # 1 AU in parsecs
scale = 1e4           # adjust multiplier for visibility in scene
orbital_radius = planets_merged['pl_orbsmax'] * au_to_pc * scale

planets_merged['pl_x'] = planets_merged['st_x'] + orbital_radius * np.cos(theta) * np.cos(phi)
planets_merged['pl_y'] = planets_merged['st_y'] + orbital_radius * np.sin(theta) * np.cos(phi)
planets_merged['pl_z'] = planets_merged['st_z'] + orbital_radius * np.sin(theta)

# <span style="color:purple">C</span><span style="color:blue">o</span><span style="color:green">l</span><span style="color:orange">o</span><span style="color:red">r</span>

## Determening mean host temperature

In [17]:
# hostname -> star (companion stards exist :D)
# sy_name -> system name
stellar_hosts[['sy_name', 'hostname', 'st_teff']]

      sy_name  hostname  st_teff
0      11 Com    11 Com   4755.0
1      11 Com    11 Com      NaN
2      11 Com  11 Com B   4415.0
3      11 Com    11 Com   4705.0
4      11 Com    11 Com   4830.0
...       ...       ...      ...
46578  xi Aql    xi Aql      NaN
46579  xi Aql    xi Aql   4707.0
46580  xi Aql    xi Aql      NaN
46581  xi Aql    xi Aql   4841.0
46582  xi Aql    xi Aql   4714.0

[46583 rows x 3 columns]

In [14]:
plan_sys[['pl_name', 'hostname', 'st_teff']]

         pl_name hostname  st_teff
0       11 Com b   11 Com   4874.0
1       11 Com b   11 Com      NaN
2       11 Com b   11 Com   4742.0
3       11 UMi b   11 UMi      NaN
4       11 UMi b   11 UMi   4340.0
...          ...      ...      ...
38744  ups And d  ups And      NaN
38745  ups Leo b  ups Leo   4836.0
38746   xi Aql b   xi Aql      NaN
38747   xi Aql b   xi Aql   4780.0
38748   xi Aql b   xi Aql   4841.0

[38749 rows x 3 columns]

We can see that there are 'duplicates' in the stellar objects table. Take the mean of valid measurement for each main host. Ignore the values from the planetary table (stellar_hosts would be a better reference).

In [22]:
stellar_hosts_main = stellar_hosts[stellar_hosts['sy_name'] == stellar_hosts['hostname']]
stellar_hosts_main = stellar_hosts_main.dropna(subset=['st_teff'])
stellar_hosts_main

,rowid,sy_name,hostname,hd_name,hip_name,tic_id,gaia_id,sy_snum,sy_pnum,sy_mnum,...,sy_gaiamagerr2,sy_icmag,sy_icmagerr1,sy_icmagerr2,sy_tmag,sy_tmagerr1,sy_tmagerr2,sy_kepmag,sy_kepmagerr1,sy_kepmagerr2
0,1,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
3,4,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
4,5,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
5,6,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
6,7,11 Com,11 Com,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,2,1,0,...,-0.003848,NaN,NaN,NaN,3.8379,0.0071,-0.0071,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46576,46577,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46577,46578,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46579,46580,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46581,46582,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN
46582,46583,xi Aql,xi Aql,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,0,...,-0.003837,NaN,NaN,NaN,3.8144,0.0072,-0.0072,NaN,NaN,NaN

In [25]:
host_teff_mean = stellar_hosts_main.groupby(['hostname'])['st_teff'].mean()
planets_merged = planets_merged.merge(host_teff_mean, on='hostname', how='left')
planets_merged

## Stellar classes
*Source: [Stellar classification](https://en.wikipedia.org/wiki/Stellar_classification)*  

Another element that will affect the visuals is **stellar classification**.

![alt text](images/stellar_classification.png "Stellar Classification")

In astronomy, stellar classification is the classification of stars based on their spectral characteristics. Electromagnetic radiation from the star is analyzed by splitting it with a prism or diffraction grating into a spectrum exhibiting the rainbow of colors interspersed with spectral lines. <br>

We already have a spectral type column, but since we're using means, we can recalculate them.

In [36]:
# K = C + 273.15
class_ranges = {
    'O': (30273, 60000),
    'B': (9973, 30273),
    'A': (7473, 9973),
    'F': (5973, 7473),
    'G': (5173, 5973),
    'K': (3673, 5173),
    'M': (2373, 3673)
}

class_colors = {
    'O': ((155,176,255),(120,150,255)),
    'B': ((170,191,255),(150,170,255)),
    'A': ((202,215,255),(180,200,255)),
    'F': ((248,247,255),(255,240,230)),
    'G': ((255,244,234),(255,235,210)),
    'K': ((255,210,161),(255,180,130)),
    'M': ((255,204,111),(255,160,80))
}

In [37]:
def classify_star(teff):
    if teff >= class_ranges['O'][0]:    # >30,000 °C
        return 'O'
    elif teff >= class_ranges['B'][0]:  # 9,700–30,000 °C
        return 'B'
    elif teff >= class_ranges['A'][0]:  # 7,200–9,700 °C
        return 'A'
    elif teff >= class_ranges['F'][0]:  # 5,700–7,200 °C
        return 'F'
    elif teff >= class_ranges['G'][0]:  # 4,900–5,700 °C
        return 'G'
    elif teff >= class_ranges['K'][0]:  # 3,400–4,900 °C
        return 'K'
    elif teff >= class_ranges['M'][0]:  # 2,100–3,400 °C
        return 'M'
    else:
        return 'Unknown'  # For extremely cool objects (brown dwarfs, etc.)

In [38]:
def interpolate_color(start_rgb, end_rgb, factor):
    return tuple(int(start + (end - start) * factor) for start, end in zip(start_rgb, end_rgb))

def temp_to_class_color(teff, spectral_class):
    if spectral_class not in class_ranges:
        return (128,128,128)
    tmin, tmax = class_ranges[spectral_class]
    start_rgb, end_rgb = class_colors[spectral_class]
    factor = (teff - tmin) / (tmax - tmin)
    factor = max(0, min(1, factor))  # clamp
    return interpolate_color(start_rgb, end_rgb, factor)

In [42]:
planets_merged['spectral_class'] = planets_merged['st_teff'].apply(classify_star)
planets_merged.groupby('spectral_class')['rowid'].count()

spectral_class
A            1329
B              96
F          138603
G          340525
K          180252
M           16080
O               8
Unknown      5632
Name: rowid, dtype: int64

In [44]:
planets_merged['st_color'] = planets_merged.apply(
    lambda row: temp_to_class_color(row['st_teff'], row['spectral_class']), axis=1
)
planets_merged

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,ra_rad,st_x,st_y,st_z,pl_x,pl_y,pl_z,st_teff,st_color,spectral_class
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,3.231979,-88.364958,-8.008843,28.475644,-88.315549,-7.959435,28.447367,4763.530000,"(255, 188, 138)",K
1,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,3.231979,-88.364958,-8.008843,28.475644,-88.308972,-7.952858,28.486766,4763.530000,"(255, 188, 138)",K
2,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,3.231979,-88.364958,-8.008843,28.475644,-88.380783,-8.024668,28.420792,4763.530000,"(255, 188, 138)",K
3,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,3.231979,-88.364958,-8.008843,28.475644,-88.322206,-7.966091,28.437818,4763.530000,"(255, 188, 138)",K
4,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,3.231979,-88.364958,-8.008843,28.475644,-88.414859,-8.058745,28.503413,4763.530000,"(255, 188, 138)",K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682520,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,5.210898,26.570968,-48.810690,8.267066,26.542295,-48.839363,8.276608,4764.866667,"(255, 188, 138)",K
682521,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,5.210898,26.570968,-48.810690,8.267066,26.580594,-48.801063,8.295781,4764.866667,"(255, 188, 138)",K
682522,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,5.210898,26.570968,-48.810690,8.267066,26.560551,-48.821106,8.295508,4764.866667,"(255, 188, 138)",K
682523,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,5.210898,26.570968,-48.810690,8.267066,26.570100,-48.811558,8.236778,4764.866667,"(255, 188, 138)",K
682524,38749,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,5.210898,26.570968,-48.810690,8.267066,26.591631,-48.790027,8.289191,4764.866667,"(255, 188, 138)",K

# Export

In [ ]:
required_cols = ['pl_name', 'hostname', 'pl_x', 'pl_y', 'pl_z', 'st_x', 'st_y', 'st_z', 'spectral_class', 'st_color']